[submodule "ros2_ws/src/LIO-SAM"]
	path = ros2_ws/src/LIO-SAM
	url = https://github.com/davidoises/LIO-SAM-Noetic.git
[submodule "ros2_ws/src/ros_ign"]
	path = ros2_ws/src/ros_ign
	url = https://github.com/osrf/ros_ign.git
