<?xml version="1.0"?>
<launch>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>


  <arg name="world_file" default="warehouse_full.world" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find warehouse_simulation)/worlds/$(arg world_file)" />
  </include>

  <!-- Spawn the Jackal model -->
  <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="yaw" value="$(arg yaw)"/>
  </include>


  <node name="warehouse_generator" pkg="warehouse_simulation" type="warehouse_generator.py" output="screen" />
</launch>