<?xml version="1.0"?>
<launch>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <arg name="world" default="$(find warehouse_simulation)/worlds/warehouse_full.sdf" />
  <arg name="ign_args" default=""/>

  <!-- Launch Ignition Gazebo with the specified world -->
  <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
    <arg name="ign_args" value="-r -v 3 $(arg world)"/>
  </include>


</launch>